<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ONLINE BUS BOOKING SYSTEM</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
   -we had linked our css file
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='website.html'>Bus booking System</a>
                this is for logo
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='#'>Profile</a></li>
                    <li><a href='#'>Book a Bus</a></li>
                    <li><a href='#'>Contact</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'"
                            style="width:auto;">Logout</button></li>
                </ul>
            </nav>
            -Navigation Bar ENds Over here
            Styling for Navigation Bar
        </div>
        <div id='login-form' class='login-page'>
            Creating the form box
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button' onclick='login()' class='toggle-btn'>Log In</button>
                    <button type='button' onclick='register()' class='toggle-btn'>Register</button>
                </div>
                creating login form
                <form id='login' class='input-group-login'>
                    <input type='text' class='input-field' placeholder='Email Id' required>
                    <input type='password' class='input-field' placeholder='Enter Password' required>
                    <input type='checkbox' class='check-box'><span>Remember Password</span>
                    <button type='submit' class='submit-btn'>Log in</button>
                </form>
                creating the registration form
                <form id='register' class='input-group-register'>
                    <input type='text' class='input-field' placeholder='First Name' required>
                    <input type='text' class='input-field' placeholder='Last Name ' required>
                    <input type='email' class='input-field' placeholder='Email Id' required>
                    <input type='password' class='input-field' placeholder='Enter Password' required>
                    <input type='password' class='input-field' placeholder='Confirm Password' required>
                    <input type='checkbox' class='check-box'><span>I agree to the terms and conditions </span>
                    conditions</span>
                    <button type='submit' class='submit-btn'>Register</button>
                </form>
                now let us style for form page
            </div>
        </div>
    </div>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    -First script code is for login and registration form to move correctly
  

</html> -->